body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.profilePicture{
  width: 150px;
  height: 150px;
  border-radius: 150px;
}
.profileMedia{
  width: 320px;
  height: 320px;
}
